
* {
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
}



body {
    background-color: #00393d;
}

.tableItem {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin: 24px 32px;
    padding: 8px;
    border-radius: 16px;
    gap: 24px;
}

@media (max-width: 720px) {
    .tableItem{
        display: flex;
        flex-direction: column;
        margin: 8px 8px 16px 8px;
        gap: 8px;
    }
}

.junPoissSuusk {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin: 24px 32px;
    padding: 8px;
    border-radius: 16px;
    gap: 24px;
}

.run {
    display: flex;
    flex-wrap: wrap;
    max-width: 30%;
}

@media (max-width: 720px) {
    .run{
        display: flex;
        flex-direction: row;
        max-width: 95%;
    }
}

.runPoints {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 4px;
    color: black;
    background-color: #FFA02F;
    border-radius: 10px;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.totalPoints {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

button {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: black;
    border: none;
    background-color: white;
    border-radius: 8px;
    text-decoration: none;
    padding: 4px 8px;
    cursor: pointer;
}

button:active {
    background-color: #FFA02F;
}

h1 {
    color: white;
    margin: 24px 32px;
}

@media (max-width: 720px) {
    h1{
        margin: 0px;
    }
}

.athleteName {
    color: black;
}

@media (max-width: 720px) {
    .athleteName{
        display: flex;
        flex-direction: column;
        margin: 4px;
    }
}

#header {
    display: flex;
    padding: 8px 32px;
    gap: 16px;
}

@media (max-width: 720px) {
    #header{
        display: flex;
        flex-direction: column;
        
    }
}

#selection {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.lastPoints {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin: 4% 32px;
    padding: 8px;
    border-radius: 16px;
    gap: 24px;
    height: 124px;
}

.lastPointsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    background-color: #FFA02F;
    padding: 16px;
    border-radius: 10px;
}

.lastPointsName {
    color: black;
    font-size: 40px;
}

.logoContainer {
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 124px;
    padding-top: 16px;
}

.class {
    color: white;
    margin: 24px 64px;
}

.firstHeader {
    display: flex;
    justify-content: flex-end;
    padding: 16px 32px 0px 0px;
}

.headerMain {
    background-color: #00393d;
}


.logos {
    max-height: 144px;
    display: flex;
    justify-content: space-around;
    padding-left: 32px;
    padding-right: 32px;
    flex-wrap: wrap;
    gap: 16px;
}

@media (max-width: 720px) {
    .logos {
      max-height: 32px;
    }
  }

.logoBrand {
    max-height: 72px;
}

@media (max-width: 720px) {
    .logoBrand {
      max-height: 32px;
    }
  }




